IcelandicStandard.OnlineBanking.Service/20100601/IcelandicOnlineBankingStatementTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://IcelandicOnlineBanking/2010/06/01/StatementTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://IcelandicOnlineBanking/2010/06/01/CommonTypes" xmlns:st="http://IcelandicOnlineBanking/2010/06/01/StatementTypes" elementFormDefault="qualified" attributeFormDefault="unqualified" id="CommonTypes">
  <xs:import namespace="http://IcelandicOnlineBanking/2010/06/01/CommonTypes" schemaLocation="IcelandicOnlineBankingTypes.xsd"/>
	<xs:complexType name="AccountStatementResponse">
		<xs:sequence>
			<xs:element name="Account" type="ct:AccountID">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The ID of the account.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Reikningur.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ct:CurrencyCode">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The currency of the account.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Mynt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overdraft" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Overdraft permission.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Yfirdráttarheimild.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Balance" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The balance of the account.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Staða reiknings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableAmount" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The amount available to the account holder.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Til ráðstöfunar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="ct:Status">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The status of the account (open/closed).</xs:documentation>
					<xs:documentation xml:lang="is-IS">Ástand reiknings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmountWaiting" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The total amount of transactions waiting that exceeded amount available.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Heildarupphæð innistæðulausra úttekta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IBAN" type="ct:IBAN">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">IBAN Number</xs:documentation>
					<xs:documentation xml:lang="is-IS">IBAN númer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountOwnerID" type="ct:PersonID">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">PersonID of the account owner.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Kennitala Reikningseiganda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomAccountName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Name set by account owner</xs:documentation>
					<xs:documentation xml:lang="is-IS">Nafn sett af reikningseiganda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountInformation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Extra account information</xs:documentation>
					<xs:documentation xml:lang="is-IS">Aukaupplýsingar um reikning</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transactions" type="st:AccountTransactionArray" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountStatement">
		<xs:sequence>
			<xs:element name="Account" type="ct:AccountID">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The account information is requested for.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Reikningsnúmer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateFrom" type="xs:date"/>
			<xs:element name="DateTo" type="xs:date"/>
			<xs:element name="RecordFrom" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Used to limit the records in the response to a certain range.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Notað til að takmarka fjölda færslna í svari.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordTo" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Used to limit the records in the response to a certain range.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Notað til að takmarka fjölda færslna í svari.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnpaidClaims">
		<xs:sequence>
			<xs:element name="PayeeID" type="ct:PersonID">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The SSN of the Payee.</xs:documentation>
					<xs:documentation xml:lang="is-IS">kennitala greiðanda</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountTransaction">
		<xs:annotation>
			<xs:documentation xml:lang="en-US">Account Transaction</xs:documentation>
			<xs:documentation xml:lang="is-IS">Færsla.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransactionID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Uniquely identifies this transaction with the originating system.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Einkennisnúmer færslu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The date when this transaction was booked.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Bókunardagur, hreyfingardagur.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Value Date</xs:documentation>
					<xs:documentation xml:lang="is-IS">Vaxtadags.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BatchNumber" type="ct:BatchNumber">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Batch Identifier</xs:documentation>
					<xs:documentation xml:lang="is-IS">Bunkanúmer. RB bunkanúmer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RedeemingBank" type="ct:Bank">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The bank where the transaction originated.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Innlausnarbanki.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transaction" type="ct:Transaction">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Transaction Key</xs:documentation>
					<xs:documentation xml:lang="is-IS">Færslulykill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="ct:Reference" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Reference</xs:documentation>
					<xs:documentation xml:lang="is-IS">Tilvísun.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillNumber" type="ct:BillNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Bill number</xs:documentation>
					<xs:documentation xml:lang="is-IS">Seðilinúmer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryCode" type="ct:CategoryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Category code</xs:documentation>
					<xs:documentation xml:lang="is-IS">Textalykill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Expands on the category code and gives the fulltext explanation.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Skýring textalykils.  Lengri skýring textalykils sem til er í kerfunum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceDetail" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Expands on the information in the reference, usually by trying to matching the information entered with person identification numbers.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Skýring tilvísunar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayorID" type="ct:PersonID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Person ID of payor</xs:documentation>
					<xs:documentation xml:lang="is-IS">Kennitala greiðanda.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Amount</xs:documentation>
					<xs:documentation xml:lang="is-IS">Upphæð.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Balance" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The balance of the account after this transaction.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Staða eftir færslu. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountTransactionArray">
		<xs:sequence>
			<xs:element name="Transaction" type="st:AccountTransaction" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnpaidClaimInfo">
		<xs:sequence>
			<xs:element name="PayeeID" type="ct:PersonID">
        <!-- ath tagið-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Person ID of payee</xs:documentation>
					<xs:documentation xml:lang="is-IS">Kennitala kröfuhafa /útgefanda kröfu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Account" type="ct:AccountID">
        <!-- ath tagið-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The Bank number of the claim, ledger number and number of claim.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Bankanúmer, höfuðbók og númer innheimtukröfu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The DueDate of the Claim </xs:documentation>
					<xs:documentation xml:lang="is-IS">Gjalddagi kröfunnar / skuldabréfs </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalDueDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The final due date of the Claim </xs:documentation>
					<xs:documentation xml:lang="is-IS">Eindagi kröfunnar / skuldabréfs </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayorID" type="ct:PersonID">
        <!-- ath tagið-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The payor of the claim </xs:documentation>
					<xs:documentation xml:lang="is-IS">kenintala greiðanda kröfunnar / skuldabréfs </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The cancellation date of the Claim </xs:documentation>
					<xs:documentation xml:lang="is-IS">niðurfellingardagur kröfunnar / skuldabréfs </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identifier" type="xs:string" minOccurs="0">
        <!-- ath tagið-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US"/>
					<xs:documentation xml:lang="is-IS"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapitalAmount" type="ct:Amount">
        <!-- ath heitið, hvort passar við kröfu -->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Capital amount of claim.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Upphæð höfuðstóls innheimtukröfu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmountDue" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The total amount due for payment.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Heildarupphæð til greiðslu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoticeChargeAmount" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Notice charge due for payment</xs:documentation>
					<xs:documentation xml:lang="is-IS">Upphæð tilkynningargjalds til greiðslu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultChargeAmount" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Default charge due for payment</xs:documentation>
					<xs:documentation xml:lang="is-IS">Upphæð vanskilagjalda til greiðslu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherCostsAmount" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Other costs due to be paid.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Annars kostnaður til greiðslu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherDefaultCostsAmount" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Other default costs due for payment.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Annar vanskilakostnaður til greiðslu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultInterestAmount" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Default interest amount due for payment.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Upphæð áfallinna dráttarvaxta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountAmount" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The discount amount that is due to be granted.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Afsláttur sem verður veittur þegar innheimtukrafa er greidd miðað við stöðu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ct:CurrencyCode">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">3 letter currency code.</xs:documentation>
					<xs:documentation xml:lang="is-IS">3 stafa tákn myntar. Myntkóði kröfu (í hvaða mynt krafan er).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExchangeRate" type="ct:ExchangeRate" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Exchange rate</xs:documentation>
					<xs:documentation xml:lang="is-IS">Gengi gjaldmiðils.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Refence determined by claimant. Alphanumeric, maximum 16 letters.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Tilvísunarnúmer kröfuhafa má vera tölu- og bókstafir, alls 16 stafa langt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillNumber" type="ct:BillNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Billnumber, optional. Information provided by claimant.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Seðilnúmer  Upplýsingar settar af kröfuhafa.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNumber" type="xs:string" minOccurs="0">
        <!-- ath tagið-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Customer number of payor, claimant's unique code for the customer.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Einkvæmt viðskiptanúmer greiðanda í kerfi kröfuhafa.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryCode" type="ct:CategoryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Claimant's text key, explanation of payment. Optional property of claim.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Textalykill kröfuhafa, skýring á greiðslu. Valkvætt eigindi á innheimtukröfu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClaimType" type="st:ClaimType">
        <!-- ath lýsinguna-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Claimant's text key, explanation of payment. Optional property of claim.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Textalykill kröfuhafa, skýring á greiðslu. Valkvætt eigindi á innheimtukröfu.</xs:documentation>
				</xs:annotation>
			</xs:element>
      <!-- ath hvort bæta þarf við hvort um skuldfærslu/beingreiðslu er að ræða.-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnpaidClaimResponse">
		<xs:sequence>
			<xs:element name="Claim" type="st:UnpaidClaimInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClaimType">
    <!-- ath heitið rekst á við kröfutegundir. UnpaidClaimType?
    Þýða heiti.-->
		<xs:annotation>
			<xs:documentation xml:lang="en-US">Type of the claim</xs:documentation>
			<xs:documentation xml:lang="is-IS">Tegund kröfunnar / skuldabréfsins</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Krafa">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Claim</xs:documentation>
					<xs:documentation xml:lang="is-IS">Krafa hb = 66</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ValgreiðsluKrafa">
				<xs:annotation>
					<xs:documentation xml:lang="en-US"/>
					<xs:documentation xml:lang="is-IS"/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Skuldabréf">
				<xs:annotation>
					<xs:documentation xml:lang="en-US"/>
					<xs:documentation xml:lang="is-IS"/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Víxill">
				<xs:annotation>
					<xs:documentation xml:lang="en-US"/>
					<xs:documentation xml:lang="is-IS"/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="InnheimtuSkuldabréf">
				<xs:annotation>
					<xs:documentation xml:lang="en-US"/>
					<xs:documentation xml:lang="is-IS"/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="InnheimtuVíxill">
				<xs:annotation>
					<xs:documentation xml:lang="en-US"/>
					<xs:documentation xml:lang="is-IS"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccountInfo">
        <!-- ath uppbyggingu, AccountInfo og AccountInfoResponse-->
		<xs:sequence>
			<xs:element name="Account" type="ct:AccountID">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The account information is requested for.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Reikningsnúmer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountInfoResponse">
        <!-- ath uppbyggingu, AccountInfo og AccountInfoResponse-->
		<xs:sequence>
			<xs:element name="Account" type="ct:AccountID">
        <!-- ath nafn-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The ID of the account.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Reikningur.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ct:CurrencyCode">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The currency of the account.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Mynt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overdraft" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Overdraft permission.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Yfirdráttarheimild.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Balance" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The balance of the account.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Staða reiknings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableAmount" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The amount available to the account holder.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Til ráðstöfunar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="ct:Status">
        <!-- ath heiti á tagi Status AccountStatus-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The status of the account (open/closed).</xs:documentation>
					<xs:documentation xml:lang="is-IS">Ástand reiknings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmountWaiting" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">The total amount of transactions waiting that exceeded amount available.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Heildarupphæð innistæðulausra úttekta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IBAN" type="ct:IBAN">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">IBAN Number</xs:documentation>
					<xs:documentation xml:lang="is-IS">IBAN númer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountOwnerID" type="ct:PersonID">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">PersonID of the account owner.</xs:documentation>
					<xs:documentation xml:lang="is-IS">Kennitala Reikningseiganda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomAccountName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Name set by account owner</xs:documentation>
					<xs:documentation xml:lang="is-IS">Nafn sett af reikningseiganda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountInformation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Extra account information</xs:documentation>
					<xs:documentation xml:lang="is-IS">Aukaupplýsingar um reikning</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BalanceEndOfLastBankDay" type="ct:Amount">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Balance at the end of last bankday</xs:documentation>
					<xs:documentation xml:lang="is-IS">Staðan í lok síðasta bankadags.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Swift" type="xs:string">
        <!-- ath tagið, skilgreina betur-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Swift </xs:documentation>
					<xs:documentation xml:lang="is-IS">Swift </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepositInterest" type="ct:Amount"  minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Deposit Interest </xs:documentation>
					<xs:documentation xml:lang="is-IS">Innvextir </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRateOnDept" type="ct:Amount" minOccurs="0">
        <!-- ath tagið og heitið-->
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Interest rate on dept </xs:documentation>
					<xs:documentation xml:lang="is-IS">útvextir </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccruedInterest" type="ct:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Accrued Interest </xs:documentation>
					<xs:documentation xml:lang="is-IS">Áunnir vextir innan ársins </xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
